# Ignore bundler config.
/backend/app/.bundle

# Ignore all logfiles and tempfiles.
/backend/app/log/*
/backend/app/tmp/*
!/backend/app/log/.keep
!/backend/app/tmp/.keep

# Ignore pidfiles, but keep the directory.
/backend/app/tmp/pids/*
!/backend/app/tmp/pids/
!/backend/app/tmp/pids/.keep

# Ignore uploaded files in development.
/backend/app/storage/*
!/backend/app/storage/.keep
/backend/app/tmp/storage/*
!/backend/app/tmp/storage/
!/backend/app/tmp/storage/.keep

# Ignore master key for decrypting credentials and more.
/backend/app/config/master.key

# dependencies
/frontend/app/node_modules
/frontend/app/.pnp
/frontend/app/.pnp.js

# testing
/frontend/app/coverage
/frontend/app/cypress/videos

# next.js
/frontend/app/.next/
/frontend/app/out/

# production
/frontend/app/build

# misc
/frontend/.DS_Store
/frontend/app/*.pem

# debug
/frontend/app/npm-debug.log*
/frontend/app/yarn-debug.log*
/frontend/app/yarn-error.log*
/frontend/app/.pnpm-debug.log*

# local env files
/frontend/app/.env*.local
/frontend/app/cypress.env.json
/frontend/app/serviceAccount.json

# vercel
/frontend/app/.vercel

# typescript
/frontend/app/*.tsbuildinfo
/frontend/app/next-env.d.ts

/data/redis/*
/app/redis/*
