# Copy this file as "cypress.env.json".
# Update these with your Firebase app's values.
{
  "FIREBASE_API_KEY": "example-firebase-api-key",
  "FIREBASE_AUTH_DOMAIN": "example-firebase-auth-domain",
  "FIREBASE_DATABASE_URL": "example-firebase-database-url",
  "FIREBASE_PROJECT_ID": "example-firebase-project-id",
  "FIREBASE_STORAGE_BUCKET": "example-firebase-storage-bucket",
  "FIREBASE_MESSAGING_SENDER_ID": "example-firebase-messaging-sender-id",
  "FIREBASE_APP_ID": "example-firebase-app-id",
  "TEST_UID": "example-test-uid",
}
