# Copy this file as "serviceAccount.json".
# Update these with your Firebase app's values.
{
  "type": "example-type",
  "project_id": "example-project-id",
  "private_key_id": "example-private-key-id",
  "private_key": "example-private-key",
  "client_email": "example-client-email",
  "client_id": "example-client-id",
  "auth_uri": "example-auth-uri",
  "token_uri": "example-token-uri",
  "auth_provider_x509_cert_url": "example-auth-provider-x509-cert-url",
  "client_x509_cert_url": "example-client-x509-cert-url"
}
